/.idea/
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml


###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

/public/uploads/images/*
!/public/uploads/images/placeholder_avatar.png
!/public/uploads/images/placeholder_horseschleich.png
!/public/uploads/images/placeholder_petshop.png

###> liip/imagine-bundle ###
/public/media/cache/thumb
###< liip/imagine-bundle ###
