{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}

    <div class="jumbotron">
        <h1 class="display-4 text-center">Interface d'administration</h1>
        <p class="lead text-center">Bienvenue dans l'interface d'administration de Mes Collections</p>
    </div>

{% endblock %}

{% block configured_head_contents %}
    <a href="{{ path('accueil') }}">Retour au site</a>
    {{ parent() }}

{% endblock %}