$primary:       #77156B;
$secondary:     #7F00FF;
$success:       #3A86FF;
$info:          #FF006E;
$light:         #8338EC;
$gradient-left: #ba21a8;
$font-family-base: 'Verdana', sans-serif;

body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: $font-family-base;
  background-image: linear-gradient(45deg, #b1f1b9, #6ae579);
  height: 100%;
}
.bg-custom{
  background-image: linear-gradient(135deg, $gradient-left, $primary);
  border-top-left-radius: 50% 20%;
  border-top-right-radius: 50% 20%;
}

.header-custom{
  background-image: linear-gradient($gradient-left, $primary);
  border-bottom-left-radius: 25% 10%;
  border-bottom-right-radius: 25% 10%;
}
.bg-bottom{
  background-image: linear-gradient($gradient-left, $primary);
}
.pt-30{
  padding-top: 30px;
}
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h3,p,a{
  color: #fff;
}
h2{
  font-weight:700;
  font-size:30px;
  letter-spacing: 2px;
}
h3{
  font-weight:700;
  font-size: 26px;
  letter-spacing: 2px;
}
li{
  padding-top: 10px;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color:#ddd;
}
.fa{
  font-size: 40px;
  padding-right: 15px;
}
.download{
  text-align: center;
  padding-top: 20px;
}.download .fa{
   padding-right: 25px;
   font-size: 50px;
 }
@media(max-width: 992px){
  h3{
    font-size: 18px;
  }
  .p-5 {
    padding: 2rem!important;
  }
}
@media(max-width: 830px){
  .pt-60{
    padding-top: 60px;
  }
  .col-md-3{
    padding-right:8px;
    padding-left: 8px;
  }
  h3 {
    font-size: 16px;
  }
}
@media(max-width: 768px){
  .col-md-3{
    text-align:center;
  }
  h3{
    font-size: 40px;
  }
  .input-group {
    margin-top:  1rem!important;
  }
  .pt-60{
    padding-top: 30px;
  }
}
@media(max-width: 475px){
  h3{
    font-size: 30px;
    padding-top: 30px;
  }
  .mobile-none{
    display:none;
  }
}
.item-list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}

.card{
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

/*----  Main Style  ----*/
#cards_landscape_wrap-2{
  text-align: center;
}
#cards_landscape_wrap-2 .container{
  padding-top: 80px;
  padding-bottom: 100px;
}
#cards_landscape_wrap-2 a{
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box{
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img{
  -webkit-transition:all .9s ease;
  -moz-transition:all .9s ease;
  -o-transition:all .9s ease;
  width: 100%;
  height: 200px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img{
  opacity: 0.7;
  -ms-transform:scale(1.15);
  transform:scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box{
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container{
  padding: 30px 18px;
}
#cards_landscape_wrap-2 .card-flyer{
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
#cards_landscape_wrap-2 .card-flyer:hover{
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p{
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6{
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif;
  letter-spacing: 1px;
  color: #00acc1;
}