{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Contact{% endblock %}

{% block body %}
<div class="container">
    <h1>Formulaire de contact</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Envoyer</button>
    {{ form_end(form) }}
</div>
{% endblock %}
