<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Vous avez des collections dont vous êtes fier ? Venez les enregistrer, et tout
        le monde pourra les admirer ! Qu'il s'agisse de Petshops, de Schleichs ou d'autres jouets ou objets, c'est
        ici que vous pourrez les montrer au monde ! Vous pouvez aussi bien sûr regarder les acquisitions des autres
        utilisateurs de notre site.">
    <title>{% block title %}Mes collections{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Noto+Sans&display=swap" rel="stylesheet">
    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    <meta name="google-site-verification" content="8yosMUkg4oox9P861cK6cdTE_h1aP5jPJR3dfYl2wz4" />
</head>
<body>
{% block header %}{% include 'inc/header.html.twig' %}{% endblock %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}
{% block body %}
    <div class="container text-center"><h1>Site en cours de construction</h1></div>
{% endblock %}
<footer>
{% block footer %}{% include 'inc/footer.html.twig' %}{% endblock %}
</footer>
{% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
</body>
</html>