{% extends 'base.html.twig' %}
{% block title  %}
    {{ parent() }} | Les chevaux Schleich
{% endblock %}
{% block body %}
<h1 class="text-center">Les chevaux Schleich</h1>
<div id="cards_landscape_wrap-2">
    <div class="container">
        <div class="row">
            {% for item in horseSchleiches %}
                {% set thisClass = 'horse_schleich' %}
                {% include 'inc/cards.html.twig' %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    {% do horseSchleiches.setPageRange(3) %}
    {{ knp_pagination_render(horseSchleiches, 'inc/pagination.html.twig') }}
</div>
{% endblock %}



