{% extends 'base.html.twig' %}

{% block body %}
<h1 class="text-center">Les Petshops</h1>
<div id="cards_landscape_wrap-2">
    <div class="container">
        <div class="row">
            {% for item in petshops %}
                {% include 'inc/cards.html.twig' %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    {% do petshops.setPageRange(4) %}
    {{ knp_pagination_render(petshops, 'inc/pagination.html.twig') }}
</div>
{% endblock %}

{% block title %}
    Les Petshops
{% endblock %}

