{% extends 'base.html.twig' %}

{% block body %}
    <h2>Vous ne pouvez pas accéder à cette page, veuillez contacter un administrateur</h2>
{% endblock %}

{% block title %}
    Page inaccessible
{% endblock %}