    <div class="bg-custom mt-5 pt-30 pt-60 pb-5">
        <h2 class="text-center text-white">Mes collections</h2>
        <div class="row">
            <div class="col-md-12 p-5">
                <div class="row">
                    <div class="col-md-4">
                        <h3>A propos du site</h3>
                        <p class="pt-3" style="text-align: justify">Le site <strong>mes-collections.heroku.com</strong> est un simple site de démonstration, mais fonctionnel. Celui-ci permet à tout un chacun de s'inscrire, se connecter et capitaliser ses différentes collections.
                            Pour le moment, les collections éligibles sont les Littlest Petshops et les Schleich, car ce sont les collections les plus fournies appartenant à ma fille Aëla (qui a beaucoup aidé à la création du site 😉 ).
                            Selon les demandes des utilisateurs, il n'est pas exclu que <strong>mes-collections.heroku.com</strong> évolue vers quelque chose de plus important ! Nous attendons vos remarques avec impatience à l'adresse <em>aelhan.dev@gmail.com</em>
                             ou via le formulaire de contact de ce site ! Bonne visite !
                        </p>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <h3>Plan du site</h3>
                        <ul>
                            <li><a class="text-white" href="{{ path('accueil') }}">Accueil</a></li>
                            <li><a class="text-white" href="{{ path('app_login') }}">Se connecter</a></li>
                            <li><a class="text-white" href="{{ path('app_register') }}">S'inscrire</a></li>
                            <li><a class="text-white" href="#">Mon profil</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-bottom">
        <div class="col-md-12">
            <p class="text-center pt-2 mb-2">&copy; 2021-{{ 'now'|date('Y') }}  DHUICQUE Fabrice</p>
        </div>
    </div>
